body{
        font-family: sans-serif;
        margin: 0;
        padding: 0;
    }

.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
}

.header .brand-text {
      font-size: 24px;
      font-weight: bold;
}

.header .login {
      font-size: 16px;
    }

.main-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 80vh; /* This helps center the content vertically */
      text-align: center;
}
        
.main-content .navigation a {
      text-decoration: none;
      color: black;
      font-size: 18px;
      margin: 0 10px;
}

.main-content .navigation {
      font-weight: bold;
      margin-bottom: 5px;
}

.main-content .about-text {
      font-size: 16px;
      margin-top: 0;
}
