{% extends "base.html" %} 
{% block title %} Snip that Hair! {% endblock %}
{% block content  %}

{% load static %}
<link rel="stylesheet" href="{% static 'webapp/home.css' %}">

<div id="outside-container">
    <div class="left-box">
        <img src="{% static 'image/home-cut.jpg' %}" style="width:500px;
    height:600px;">
    </div>
    <div class="right-box">
        <div class="right-box-text">
            <p> this is a paragraph to display the product</p>
        </div>
    </div>
</div>

{% endblock %}
