
#outside-container{
    background-color: white;
    width: 1000px;
    height: 700px;
    display: flex;
}

#left-box{
    background-color: white;
    width: 300px;
    height: 100px;
}

#right-box{
    background-color: white;
    width: 300px;
    height: 100px;
    padding-left: 30px;
}

