<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brand Page</title>
    
  <head>
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">

<body>

<header class="header">
        <span class="brand-text">BRAND TEXT</span>
        <a href="#" class="login">LOGIN</a>
    </header>

    <main class="main-content">
        <div class="navigation">
          <a href={{ url_for('home')}}>HOME</a>
          <a href={{ url_for('pricing')}}>PRICING</a>
          <a href={{ url_for('about')}}>ABOUT</a>
        </div>
        {% block content %}
        <p class="about-text"></p>
        {% endblock %}
    </main>

</body>


</html>
